body {
  background: #fff;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: inline-block;
}
a:focus,
input:focus {
  outline: 0px solid;
}
img {
  max-width: 100%;
  height: auto;
}
.slick-dots li button {
  display: none;
}
